{% extends 'template_base.html' %}

{% block title %}
    Productos 
{% endblock %}

{% block content %}
    <h2>Lista de Productos</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoria</th>
        </tr>
        {% for producto in productos %}
            <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.categoria}}</td>
            </tr>
        {% endfor %}
        
    </table>
{% endblock %}