<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/agregar_producto">Agregar Producto</a>
        </nav>
        <h1>BIENVENIDOS A MI APP</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>